<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <title>Ernesto Capambo</title>
</head>
<body>
    
    <header>
        <div class="interface" id="inicio">
            <div class="logo">
                <p>Milenium</p>
                <a href="#inicio">
                    SOFT
                </a>
            </div>
            <nav class="menu-desktop">
                <ul><li><a href="#inicio">Início</a></li></ul>
                <ul><li><a href="#especialidades">Habilidades</a></li></ul>
                <ul><li><a href="#sobre">Sobre</a></li></ul>
                <ul><li><a href="#portifolio">Projetos</a></li></ul>
            </nav>
            <div class="btn-contato">
                <a href="#contato">
                    <button>Contato</button>
                </a>
            </div>

            <div class="btn-abrir-menu" id="btn-menu">
                 <i class="bi bi-list"></i>
            </div>

            <div class="menu-mobile" id="menu-mobile">
                <div class="btn-fechar">
                    <i class="bi bi-lg">X</i>
                </div>
                <nav>
                    <ul><li><a href="#inicio">Início</a></li></ul>
                    <ul><li><a href="#especialidades">Habilidades</a></li></ul>
                    <ul><li><a href="#sobre">Sobre</a></li></ul>
                    <ul><li><a href="#portifolio">Projetos</a></li></ul>
                    <ul><li><a href="#contato">Contato</a></li></ul>
                </nav>
            </div>
            <div class="overlay-menu" id="overlay-menu"></div>
        </div>
    </header>

    <main id="main">

        <section class="mensage" id="mensage">
            <div class="interface">
                <h2 class="titulo">MENSAGENS <span>ENVIADAS<span id="total-msg"></span></span></h2>

                <div class="flex" id="msg-container">

                </div>

            </div>
        </section>

        <section class="formulario" id="formulario">
            
        </section>

    </main>

    <footer>
        <div class="interface" id="contato">
            <div class="line-footer borda">
                <div class="flex">
                    <div class="logo-footer">
                        <p>agência</p>
                        <a href="#inicio">
                            DEVTECH
                        </a>
                    </div>
                    <div class="btn-social">
                        <a href="#"><button><i class="bi bi-github"></i></button></a>
                        <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                        <a href="#"><button><i class="bi bi-facebook"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="line-footer">
                <p><i class="bi bi-envelope-fill"></i> <a href="mailto:ernestosikilitacapambo@gmail.com">ernestosikilitacapambo@gmail.com</a></p>
            </div>
        </div>
    </footer>

</body>
<script src="../javaScript/mensagens.js"></script>
</html>